{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ object.username }}
{% endblock %}

{% block content %}
<div class="container mx-auto">
    <div class="row">
        <div class="col-4 col-sm-12">
            <img class="img-fluid rounded-circle border shadow border-danger" src="{% if object.avatar %}{{ object.avatar.url }}{% else %}{% static 'images/missing_profile_pic.jpeg' %}{% endif %}" alt=""
                srcset="">
        </div>
        <div class="col-8 col-sm-12">

        </div>
    </div>
</div>
{% endblock %}