{% extends 'base.html' %}
{% load account_tags %}
{% block content %}
<form method="post" class="container h-100 text-start">
    {% csrf_token %}
    <div class="row">
        <div class="col-12">
            {{ form.errors }}
        </div>
        <div class="col-12">
            {{ form.old_password.errors }}
            {{ form.old_password.label_tag|add_class:"form-label"}}
            {{ form.old_password|add_class:"form-control" }}
        </div>
        <div class="col-12">
            {{ form.new_password1.errors }}
            {{ form.new_password1.label_tag|add_class:"form-label"}}
            {{ form.new_password1|add_class:"form-control" }}
        </div>
        <div class="col-12">
            {{ form.new_password2.errors }}
            {{ form.new_password2.label_tag|add_class:"form-label"}}
            {{ form.new_password2|add_class:"form-control" }}
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="col-12 col-sm-4 text-end">
            <input type="submit" value="submit">
        </div>
    </div>
    </div>


</form>
{% endblock %}